# macOS
.DS_Store

# Environment
.env
!.env.example

# Dependencies
vendor/
app/vendor/
composer.lock
node_modules/
frontend/dist/

# Cache & Logs
runtime/*
!runtime/.htaccess
!runtime/index.html
**/runtime/logs/
*.log
*.cache

# IDE
.idea/
.vscode/
*.sublime-*

# OS
Thumbs.db